#####################################################################
#   Fan Control
#####################################################################


##  Controller fan - FAN2 Connector
[controller_fan controller_fan]
pin: PB2
kick_start_time: 1.0
heater: heater_bed
fan_speed: 0.5

##  Exhaust fan - In E2 OUT Positon
#[heater_fan exhaust_fan]
#pin: PB3
#max_power: 1.0
#shutdown_speed: 0.0
##kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#[fan_generic filter]
## Nevermore Micro - E1_OUT is only for 24v fans
#pin: E1_OUT
#off_below: 0.3
#cycle_time: 0.05
#kick_start_time: 0.5